@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.logo-name {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: '600';
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(38, 239, 42, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}


.tech-icons:hover {
  transform: scale(1.1); 
  box-shadow: 8px 10px 12px rgba(89, 4, 168, 0.25); 
  opacity: 1 !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}